extends ../base.pug

block content
  video(src=`${storageUrl}/${video.videoPath}`, controls="true", width="780") 
  h3=video.title
  p=video.description
  small=video.createAt
  ul
    each hashtag in video.hashtags
      li=hashtag
  h3 #{video.meta.views} #{video.meta.views === 1 ? 'view' : 'views'}
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
  script(src="/static/js/videoPlayer.js") 