mixin videoBlock(video = {})
  .video
    a.video__link--all(href=`/videos/${video._id}`)
    video.video__thumbnail(src=`${storageUrl}/${video.videoPath}`)
    .video__info
      .video__user
        a.video__link--user(href=`/users/${video.owner._id}`)
          img.video__user-avatar(src=`${video.owner.avatar.avatarUrl ? video.owner.avatar.avatarUrl : '/static/images/basic_profile.png'}`)
      .video__data
        .video__title
          span=video.title
        .video__owner
          a.video__link--user(href=`/users/${video.owner._id}`)
            span=video.owner.name
        .video__views
          span=video.meta.views