extends ../base.pug

block content
  if errorMessage
    p=errorMessage
  .account
    .account__header
      form.account__form--avatar(action=`avatar/put?_csrf=${csrfToken}`, method="post", enctype="multipart/form-data")
        img.account__user-avatar(src=avatarPath, alt="avatar")
        label.account__label--avatar(for="avatar")
          i.fa.fa-camera
        input.account__input--avatar(type="file", name="avatar", id="avatar", accept="image/*", onchange="form.submit()")
      h1.account__heading.account__welcome-msg ようこそ、#{user.name}さん
    .account__main
      h1.account__heading 基本情報
      p.account__info 一部の情報は、MeTubeサービスを利用する他のユーザーに表示される場合があります。
      form.account__form(method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="text", name="name", placeholder="Name", value=user.name, required=true)
        input(type="submit", value="Save")
  hr
  if avatarPath
    a(href="avatar/delete") Delete avatar &rarr;
    br
  a(href="change-password") Change password &rarr; 